<div class="container">
    <h4>{{title}}</h4>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="taskForm">
                <div class="form-group row">
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Task name</label>
                        <input type="text" class="form-control" [value]="task['task_name']">
                    </div>
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Parent task</label>
                        <select class="form-select">
                            <option *ngFor="let task of parent_tasks" [value]="task['value']">{{task['display']}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Start date</label>
                        <input type="date" class="form-control" >
                    </div>
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Due date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Type</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let type of types" [value]="type">{{type}}</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Status</label>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let s of status" [value]="s">{{s}}</option>
                        </select>
                    </div>
                </div>
                <div class="from-group row">
                    <div class="col-sm">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="btn-center">
                    <button type="submit" (click)="save();" class="btn btn-success">Save</button>
                    &nbsp;
                    <button type="button" (click)="clear()" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>